<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/database.css">
    <title>Database</title>
</head>
<body>
	<header>
        <h2 class="header">Database</h2>
	</header>
	<div class="container">
        <section id="local_storage">
			<h3>Local Storage</h3>       
			<div id="local_buttons">
				<button id="local_create_btn" class="btn btn-outline-primary local_btn">Create File</button>
				<button id="local_select_btn" class="btn btn-outline-primary local_btn">Select File</button>
				<button id="local_start_btn" class="btn btn-outline-secondary local_btn disabled">Start storage</button>
			</div>
			<div id="local_indicator">
				<div class="state_indicator" id="local_state_indicator"></div>
				<h4 id="local_selection">No File selected.</h4>
			</div>    
        </section>
	<script src="./js/database.js"></script>
</body>
</html>